<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>Ingresar</title>


    <!-- Bootstrap core CSS -->
    <link href="./lib/ingresar/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./lib/ingresar/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="img/essalud.png" alt="" width="250" height="">
      <h1 class="h3 mb-3 font-weight-normal">Bienvenido al sistema de asegurados de EsSalud</h1>
      <label for="inputNum" class="sr-only">DNI</label>
      <input type="text" id="inputNum" class="form-control" placeholder="DNI" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" onclick="@("window.location.href="pagina.cshtml") >Entrar</button>
      <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>
  </body>
  </html>
